streamlit
python-dotenv
langchain
langchain-community
langchain-core
langchain-groq
langchain-chroma
langchain-huggingface

sentence-transformers
pypdf
langgraph
pysqlite3-binary
pysqlite3-binary
chromadb

